* {
    text-align: center;
    font-family: Tahoma;
}

body, #details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

body {
    background-image: radial-gradient(#2a475e, #1b2838);
}

#details {
    color: #ACB2B8
}

img {
    border-radius: 15px;
}

td {
    padding: 10px;
    border: 2px solid #171a21;
    color: #ACB2B8;
}

.heading-container, .deals-container, .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    margin-top: 10px;
    color: white;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}